.button-add {
    margin: 30px 45px;
}
.product-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 30px;
    gap: 30px;
}

.img-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

.card-img-top {
    width: 250px;
    height: 250px;
}

.product-title {
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}